/* Icon */
.badge-check {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    
    /* gray-400 */
    background: #303036;
}
.portfolio-icon {
    border-radius: 24px;
    height: 40px;
    width: 40px;
    background-color: var(--gray-100);
}
